PuLP==2.8.0
PyYAML==6.0.2
typing_extensions>=4.0.0
python-dotenv
pyone
haversine
requests
fastapi
-e git+https://github.com/OpenNebula/one-aiops.git@b05fa36fcc424208360f0bd7cc756a162be17728#egg=pyoneai&subdirectory=sdk
